<div style="text-align:center;"><div style="margin:8px 0px 4px;"><a href="http://www.calameo.com/books/004492150f705250cdb71" target="_blank">Resume</a></div><iframe src="//v.calameo.com/?bkcode=004492150f705250cdb71&mode=mini" width="480" height="300" frameborder="0" scrolling="no" allowtransparency allowfullscreen style="margin:0 auto;"></iframe><div style="margin:4px 0px 8px;"><a href="http://www.calameo.com/" target="_blank">Read more publications at Calaméo</a></div></div>

