<center>
<%= image_tag('experience.png')%>
</center></br>

<div class="name_panel">
	<div class= "row">
		<div class= "col-md-6">
			<%= image_tag('GA.png')%>
		</div>
		<div class= "col-md-6">
			<%= image_tag('TTS.png')%>
		</div>
	</div></br></br>
	
	
</div>
