<div>
	
	<div id="hero">
		<div id="name_logo">
			<%= image_tag('scname.png')%>
		</div>
		<%=image_tag("headshot2.png")%>
	</div>

<div class="name_panel">
	<div class="row">
		<div class="col-md-6">
			<%=image_tag("uxicon.png")%>
			<p class="padding center"> I love making people happy.</br> When I first learned about UX, </br>I realized it was a way to combine that with my </br>passion for making things. The combination of creation,</br> tech and people UX brings makes it, in my opinion, </br>forever relevant.</p> 
		</div>
		<div class="col-md-6">
			<%=image_tag("devicon.png")%>
			<p class="padding center">Learning both design and development </br>was important to me. Other than selfish reasons</br> (I love both), I wanted to bridge the gap between</br> two important parts of a process to deliver </br>quality, meaningful products.</p>
		</div>
	</div>
	<div>
		<p class="padding center">*This website was built with Ruby on Rails with a little help from Bootstrap, Heroku and my tired fingers.</p>
	</div>
</div>
	


	
</div>