<div>
	
	<div id="hero">
		<div id="name_logo">
			<%= image_tag('scname.png')%>
		</div>
		<%=image_tag("headshot2.png")%>
	</div>

<div class="name_panel">
	<div class="row">
		<div class="col-md-6">
			<%=image_tag("uxicon.png")%>
		</div>
		<div class="col-md-6">
			<%=image_tag("devicon.png")%>
		</div>
	</div>
</div>
	


	
</div>